<div class="container">
  <div class="row" align="center" style="margin:20px">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <i class="fa fa-briefcase" style="font-size:28px;color:red;border:1px solid lightgray;padding:10px;border-radius:8px"></i><span>
<h4>Natoque phasellus</h4>
<p class="text-secondary">ipsum dolor tempus commodo amet sedaccumen et adipiscing bllanddit porttitor sed faucibus</p>
</span> </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <i class="fa fa-code" style="font-size:28px;color:red;border:1px solid lightgray;padding:10px;border-radius:8px"></i> 
      <h4>Ultricies dolore</h4>
     <p class="text-secondary">ipsum dolor tempus commodo amet sedaccumen et adipiscing bllanddit porttitor sed faucibus</p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <i class="fa fa-save" style="font-size:28px;color:red;border:1px solid lightgray;padding:10px;border-radius:8px"></i>
        <h4>Magna lacinia</h4>
        <p class="text-secondary">ipsum dolor tempus commodo amet sedaccumen et adipiscing bllanddit porttitor sed faucibus</p>

        </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <i class="fa fa-desktop" style="font-size:28px;color:red;border:1px solid lightgray;padding:10px;border-radius:8px"></i>
      <h4>Praesent lacinia</h4>
      <p class="text-secondary">ipsum dolor tempus commodo amet sedaccumen et adipiscing bllanddit porttitor sed faucibus</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <i class="fa fa-camera-retro" style="font-size:28px;color:red;border:1px solid lightgray;padding:10px;border-radius:8px"></i>
        <h4>Morbi semper</h4>
        <p class="text-secondary">ipsum dolor tempus commodo amet sedaccumen et adipiscing bllanddit porttitor sed faucibus</p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <i class="fa fa-cog" style="font-size:28px;color:red;border:1px solid lightgray;padding:10px;border-radius:8px"></i>
          <h4>Arcu consequat</h4>
          <p class="text-secondary">ipsum dolor tempus commodo amet sedaccumen et adipiscing bllanddit porttitor sed faucibus</p>
        </div>
  </div>
</div>