<div class="container" align="center">
  <div class="row" style=" margin:30px" >
    <div class="col">
      <i class="fab fa-twitter" style="color:gray;border:1px solid lightgray;padding:10px;border-radius: 8px"></i>
    </div>
    <div class="col">
      <i class='fab fa-facebook-f' style="color:gray;border:1px solid lightgray;padding:10px;border-radius: 8px"></i>
    </div>
    <div class="col">
      <i class='fab fa-instagram' style="color:gray;border:1px solid lightgray;padding:10px;border-radius: 8px"></i>
    </div>
    <div class="col">
      <i class='fas fa-basketball-ball' style="color:gray;border:1px solid lightgray;padding:10px;border-radius: 8px"></i>
    </div>
    <div class="col">
      <i class="fa fa-envelope" style="color:gray;border:1px solid lightgray;padding:10px;border-radius: 8px"></i>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>FAQ</p>
    </div>
    <div class="col">
        <p>Terms Of Use</p>
      </div>
      <div class="col">
          <p>Privacy</p>
        </div>
        <div class="col">
            <p>Contact</p>
          </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-secondary">© Untitled. All rights reserved.</p>
    </div>
  </div>
</div>